header {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;

    .titleScreen {
        background: $primary;
        width: 100%;
        height: 90%;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        padding: 7%;
        border-radius: 10px;
        box-shadow: 0px 0px 15px $black;

        img {
            width: 25%;
            position: absolute;
            animation: 10s linear infinite elephantWalk;
        }
    }
}

button {
    display: inline-block;
    margin: 0 auto;
    border: none;
    background: $accent;
    padding: 20px;
    border-radius: 10px;
}

main {
    height: 90vh;
    display: none;

    .questionScreen,
    .hintToaster,
    .infoCard,
    .scoreScreen {
        display: none;
    }

    .questionScreen,
    .infoCard,
    .scoreScreen {
        height: 90%;
    }

    .questionScreen {
        background: $primary;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 90%;
        position: relative;
        padding: 7%;
        border-radius: 10px;
        box-shadow: 0px 0px 15px $black;

        img {
            max-width: 250px;
            margin: 0 auto;
        }

        .questionLayout {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .answerLayout {
            display: flex;
            flex-direction: column;
        }
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    text-align: center;
}

