@keyframes elephantWalk {
    0% {
        bottom: 0;
        right: -25%;
    }

    6% {
        transform: rotate(5deg);
    }

    12% {
        transform: rotate(0);
    }

    18% {
        transform: rotate(-5deg);
    }

    25% {
        transform: rotate(0);
    }

    31% {
        transform: rotate(5deg);
    }

    37% {
        transform: rotate(0);
    }

    43% {
        transform: rotate(-5deg);
    }

    50% {
        bottom: 0;
        right: 40%;
        transform: rotate(0);
    }

    56% {
        transform: rotate(5deg);
    }

    62% {
        transform: rotate(0);
    }

    68% {
        transform: rotate(-5deg);
    }

    75% {
        transform: rotate(0);
    }

    81% {
        transform: rotate(5deg);
    }

    87% {
        transform: rotate(0);
    }

    93% {
        transform: rotate(-5deg);
    }

    100% {
        bottom: 0;
        right: 100%;
        transform: rotate(0);
    }
}

@keyframes loadingAni {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hintToasterFunction {
    0% {
        bottom: -25%;
        left: calc(10% + 60px);
    }

    100% {
        bottom: 0;
        left: calc(10% + 60px);
    }
}

@keyframes hintToasterFuncRev {
    0% {
        bottom: 0;
        left: calc(10% + 60px);
    }

    100% {
        bottom: -25%;
        left: calc(10% + 60px);
    }
}

@keyframes animatedBackground {
    0% {
        background-position: 130% 100%;
    }

    100% {
        background-position: -30% 100%;
    }
}