@media (max-width: 800px) {
    .questionScreen {
        .questionLayout {
            flex-direction: column;
            text-align: center;
        }
        .answerLayout {
            width: 95%;
        }
    }
}

@media (max-width: 450px) {
    .wrapper {
        width: 100%;
    }

    main .questionScreen, 
    header .titleScreen {
        height: 100%;
        box-shadow: none;
        border-radius: 0;
        background: $secondary;
    }

    h3 {
        font-size: 2.5rem;
    }

    .answerLayout label:not(:last-child) {
        margin:0;
    }

    .answerLayout label {
        padding: 3%;
    }


    // .answerLayout {
    //     label {
    //         // padding: 1%;
    //     }

    //     label:not(:last-child) {
    //         // margin-bottom: 1%;
    //     }
    // }
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2rem;
    }

    .start {
        font-size: 1.6rem;
        width: 235px;
    }

    footer {
        // border-top: 1px dotted $black;
    }
}