.questionScreen {
    background: $primary;
    width: 100%;
    height: 90%;
    position: relative;
    padding: 7%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px $black;
    overflow: hidden;

    .hintOnClick {
        position: absolute;
        left: 10%;
        bottom: 0;
        padding: 15px 25px;
        border-radius: 0;
        background: none;
        &:hover {
            cursor: pointer;
        }
        &:hover i {
            color: $accent;
        }
        i {
            font-size: 4rem;
        }
        &:focus i{
            border: 1px solid $black;
        }
    }

    .question {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }

    .questionLayout {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .buttonContainer {
        align-self: flex-end;
    }

    .questionImage {
        min-width: 250px;
        width: calc(100% / 2);
        padding: 5%;

        img {
            border-radius: 10px;
            margin: 0 auto;
        }
    }
    .hintToaster {
        position: absolute;
        max-width: 250px;
        padding: 2%;
        text-align: center;
        bottom: -30%;
        left: calc(10% + 60px);
    }
}

.answerLayout {
    display: flex;
    flex-direction: column;
    width: 45%;

    input[type=radio] {
        opacity: 0;

        &:focus + label {
            background: $accent;
        }
    }

    label {
        padding: 5%;
    }

    input[type=radio]:checked + label{
        // border: 7px solid $accent;
        // border-radius: 10px;
        background: $accent;
    }

    label:not(:last-child) {
        margin-bottom: 5%;
    }
}


.hintToasterIn {
    animation: 0.5s ease-out hintToasterFunction;
    animation-fill-mode: forwards;
}

.hintToasterOut {
    animation: 1s linear hintToasterFuncRev;
    animation-fill-mode: forwards;
}