.swal-icon {
    max-width: 75px;
}

.swal-overlay {
    background-image: url(../assets/elephant.png);
    background-repeat: no-repeat;
    background-size: 25%;
    animation: 10s linear infinite animatedBackground;
}

.swal-button {
    border: none;
    background: $accent;
    padding: 20px;
    border-radius: 10px;
    color: black;
    font-weight: normal;

    &:not([disabled]):hover {
        background: $accent;
    }
}