article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Courier Prime", "Courier New";
  background: #fff5d8;
}

.wrapper {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  height: 100vh;
}

* {
  color: #30352a;
}

h1 {
  font-size: 6rem;
  margin-top: 10%;
  text-decoration: underline;
  -webkit-text-decoration-color: #ffbc8f;
          text-decoration-color: #ffbc8f;
  text-decoration-thickness: 10px;
}

h1, h2 {
  font-weight: normal;
}

h2 {
  font-size: 2.5rem;
  margin-top: 5%;
  margin-bottom: 5%;
}

h3 {
  font-size: 3.5rem;
  text-align: center;
}

footer {
  font-size: 1.5rem;
}

footer a {
  -webkit-text-decoration-color: #ffbc8f;
          text-decoration-color: #ffbc8f;
  text-decoration-thickness: 4px;
  color: #30352a;
}

button {
  display: inline-block;
  margin: 0 auto;
  border: none;
  background: #ffbc8f;
  padding: 20px;
  border-radius: 10px;
}

button:focus:not(.start):not(.hintOnClick), button:hover:not(.start):not(.hintOnClick) {
  background: #30352a;
  color: #ffbc8f;
}

button:focus:not(.start):not(.hintOnClick) span,
button:hover:not(.start):not(.hintOnClick) span {
  color: #ffbc8f;
}

main {
  height: 90vh;
  display: none;
  position: relative;
}

main .container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .questionScreen,
main .scoreScreen {
  display: none;
  height: 90%;
}

main .scoreScreen {
  background: #fff5d8;
  width: 100%;
  height: 90%;
  padding: 7%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px #30352a;
          box-shadow: 0px 0px 15px #30352a;
  overflow: hidden;
}

main .scoreScreen .scoreContainer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .scoreScreen i {
  font-size: 1.6rem;
}

main .scoreScreen button:hover i,
main .scoreScreen button:focus i {
  color: #ffbc8f;
}

main .saveTheElephants {
  -webkit-text-decoration-color: #ffbc8f;
          text-decoration-color: #ffbc8f;
  text-decoration-thickness: 4px;
  color: #30352a;
}

main .saveTheElephants:focus, main .saveTheElephants:hover {
  background: #ffbc8f;
  outline: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10vh;
  text-align: center;
}

footer a:focus,
footer a:hover {
  background: #ffbc8f;
  outline: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

header .titleScreen {
  background: #fff5d8;
  width: 100%;
  height: 90%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 7%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px #30352a;
          box-shadow: 0px 0px 15px #30352a;
}

header .titleScreen img {
  width: 35%;
  max-width: 250px;
  min-width: 135px;
  position: absolute;
  -webkit-animation: 10s linear infinite elephantWalk;
          animation: 10s linear infinite elephantWalk;
}

header #loading {
  -webkit-animation: 2s linear infinite loadingAni;
          animation: 2s linear infinite loadingAni;
}

header #loadingComplete {
  display: none;
}

.start {
  z-index: 100;
  width: 275px;
}

#loadingComplete:hover,
.start:focus #loadingComplete {
  font-weight: 700;
  color: #30352a;
}

.cursorDefault:hover {
  cursor: default;
}

.swal-icon {
  max-width: 75px;
}

.swal-overlay {
  background-image: url(../assets/elephant.png);
  background-repeat: no-repeat;
  background-size: 25%;
  -webkit-animation: 10s linear infinite animatedBackground;
          animation: 10s linear infinite animatedBackground;
}

.swal-button {
  border: none;
  background: #ffbc8f;
  padding: 20px;
  border-radius: 10px;
  color: black;
  font-weight: normal;
}

.swal-button:not([disabled]):hover {
  background: #ffbc8f;
}

.questionScreen {
  background: #fff5d8;
  width: 100%;
  height: 90%;
  position: relative;
  padding: 7%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px #30352a;
          box-shadow: 0px 0px 15px #30352a;
  overflow: hidden;
}

.questionScreen .hintOnClick {
  position: absolute;
  left: 10%;
  bottom: 0;
  padding: 15px 25px;
  border-radius: 0;
  background: none;
}

.questionScreen .hintOnClick:hover {
  cursor: pointer;
}

.questionScreen .hintOnClick:hover i {
  color: #ffbc8f;
}

.questionScreen .hintOnClick i {
  font-size: 4rem;
}

.questionScreen .hintOnClick:focus i {
  border: 1px solid #30352a;
}

.questionScreen .question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.questionScreen .questionLayout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.questionScreen .buttonContainer {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.questionScreen .questionImage {
  min-width: 250px;
  width: calc(100% / 2);
  padding: 5%;
}

.questionScreen .questionImage img {
  border-radius: 10px;
  margin: 0 auto;
}

.questionScreen .hintToaster {
  position: absolute;
  max-width: 250px;
  padding: 2%;
  text-align: center;
  bottom: -30%;
  left: calc(10% + 60px);
}

.answerLayout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
}

.answerLayout input[type=radio] {
  opacity: 0;
}

.answerLayout input[type=radio]:focus + label {
  background: #ffbc8f;
  border: 1px solid #30352a;
}

.answerLayout label {
  border: 1px dotted transparent;
  padding: 5%;
}

.answerLayout label:hover {
  background: rgba(255, 188, 143, 0.5);
}

.answerLayout input[type=radio]:checked + label {
  background: #ffbc8f;
}

.answerLayout label:not(:last-child) {
  margin-bottom: 5%;
}

.hintToasterIn {
  -webkit-animation: 0.5s ease-out hintToasterFunction;
          animation: 0.5s ease-out hintToasterFunction;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.hintToasterOut {
  -webkit-animation: 1s linear hintToasterFuncRev;
          animation: 1s linear hintToasterFuncRev;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes elephantWalk {
  0% {
    bottom: 0;
    right: -25%;
  }
  6% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  12% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  18% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  25% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  31% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  37% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  43% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    bottom: 0;
    right: 40%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  56% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  62% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  68% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  75% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  81% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  87% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  93% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    bottom: 0;
    right: 100%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes elephantWalk {
  0% {
    bottom: 0;
    right: -25%;
  }
  6% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  12% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  18% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  25% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  31% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  37% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  43% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    bottom: 0;
    right: 40%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  56% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  62% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  68% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  75% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  81% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  87% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  93% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    bottom: 0;
    right: 100%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes loadingAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loadingAni {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes hintToasterFunction {
  0% {
    bottom: -25%;
    left: calc(10% + 60px);
  }
  100% {
    bottom: 0;
    left: calc(10% + 60px);
  }
}

@keyframes hintToasterFunction {
  0% {
    bottom: -25%;
    left: calc(10% + 60px);
  }
  100% {
    bottom: 0;
    left: calc(10% + 60px);
  }
}

@-webkit-keyframes hintToasterFuncRev {
  0% {
    bottom: 0;
    left: calc(10% + 60px);
  }
  100% {
    bottom: -25%;
    left: calc(10% + 60px);
  }
}

@keyframes hintToasterFuncRev {
  0% {
    bottom: 0;
    left: calc(10% + 60px);
  }
  100% {
    bottom: -25%;
    left: calc(10% + 60px);
  }
}

@-webkit-keyframes animatedBackground {
  0% {
    background-position: 130% 100%;
  }
  100% {
    background-position: -30% 100%;
  }
}

@keyframes animatedBackground {
  0% {
    background-position: 130% 100%;
  }
  100% {
    background-position: -30% 100%;
  }
}

@media (max-width: 700px) {
  .questionLayout {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .answerLayout {
    width: 95%;
  }
  .answerLayout label {
    padding: 3%;
  }
  .answerLayout label:not(:last-child) {
    margin: 0;
  }
  img {
    max-height: 200px;
  }
}

@media (max-width: 450px) {
  .wrapper {
    width: 100%;
  }
  main .questionScreen,
  header .titleScreen,
  main .scoreScreen {
    height: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
    background: #fff5d8;
  }
  main .scoreScreen {
    height: 75%;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  p {
    text-align: center;
  }
  .start {
    font-size: 1.6rem;
    width: 235px;
  }
  .questionScreen button {
    padding: 13px;
  }
  .questionScreen .hintOnClick {
    left: 3%;
  }
  .questionScreen .hintOnClick i {
    font-size: 3rem;
  }
  .questionScreen .hintToaster {
    bottom: -25%;
    left: calc(3% + 50px);
    font-size: 1.6rem;
    width: 150px;
  }
  @-webkit-keyframes hintToasterFunction {
    0% {
      bottom: -25%;
      left: calc(3% + 50px);
    }
    100% {
      bottom: 0;
      left: calc(3% + 50px);
    }
  }
  @keyframes hintToasterFunction {
    0% {
      bottom: -25%;
      left: calc(3% + 50px);
    }
    100% {
      bottom: 0;
      left: calc(3% + 50px);
    }
  }
  @-webkit-keyframes hintToasterFuncRev {
    0% {
      bottom: 0;
      left: calc(3% + 50px);
    }
    100% {
      bottom: -25%;
      left: calc(3% + 50px);
    }
  }
  @keyframes hintToasterFuncRev {
    0% {
      bottom: 0;
      left: calc(3% + 50px);
    }
    100% {
      bottom: -25%;
      left: calc(3% + 50px);
    }
  }
}
